.app-wrapper {
  display: flex;
  flex-direction: column;

  .header {
    text-align: center;
    padding: 15px 0;
  }

  .content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 15px;
    row-gap: 15px;
  }
}
