.pokemon-card-wrapper {
  border: 1px solid var(--x-border);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  &:hover {
    border-color: var(--x-primary);
  }

  .type-list {
    display: flex;
    justify-content: center;

    .type {
      padding: 5px 15px;
      background-color: #ddd;
      border-radius: 15px;
      
      & ~ .type {
        margin-left: 5px;
      }
    }
  }

  .stat-list {
    .stat-name {
      min-width: 60px;
    }
    .stat-progress {
      flex: 1;
    }
  }
}
